<h2>商品詳細</h2>
   <%= attachment_image_tag(@item, :image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
    <p>商品名</p>
	<p><%= @item.name %></p></br>
	<p>商品説明</p>
	<p><%= @item.explanation%></p></br>
	<p>税抜価格</p>
	<p><%= @item.price%></p></br>
	<p>ジャンル</p>
	<p>ケーキ</p></br>
	<p>ステータス</p>
	<p><%= @item.is_sales_active%></p></br>