<div class="col-12">
    <h4><%= @customer.lastNameKanji %>　<%= @customer.first_name_kanji %>さん登録情報編集</h4>
</div>

<%= form_for(@customer,url: admin_customer_path(@customer.id)) do |f| %>
    <table class="table">
        <tr>
            <td class="text-center">会員ID</td>
        　　<td><%= @customer.id %></td>
        </tr>
        <tr>
            <td class="text-center">氏名</td>
            <td class="text-center">
                <%= f.text_field :lastNameKanji %>
                <%= f.text_field :first_name_kanji %>
            </td>
        </tr>
        <tr>
            <td class="text-center">フリガナ</td>
            <td >
                <%= f.text_field :last_name_kana %>
                <%= f.text_field :first_name_kana %>
            </td>
        </tr>
        <tr>
            <td class="text-center">郵便番号</td>
            <td>
                <%= f.text_field :postcode %>
            </td>
        </tr>
        <tr>
            <td class="text-center">住所</td>
            <td>
                <%= f.text_area :street_address %>
            </td>
        </tr>
        <tr>
            <td class="text-center">電話番号</td>
            <td>
                <%= f.text_field :phone_number %>
            </td>
        </tr>
        <tr>
            <td class="text-center">メールアドレス</td>
            <td>
                <%= f.email_field :email %>
            </td>
        </tr>
        <tr>
            <td class="text-center">会員ステータス</td>
            <td>
            <div class="form-check form-check-inline">
                <%= form_with(model: @customer, url: admin_customer_path(@customer.id)) do |f| %>
                    <div class="radio-inline">
                      <%= f.radio_button :is_customer_active, :true %>
                      <%= f.label :is_customer_active, '有効', value: :true %>
                    </div>
                    <div class="radio-inline">
                      <%= f.radio_button :is_customer_active, :false %>
                      <%= f.label :is_customer_active, '退会済', value: :false %>
                    </div>
                <% end %>
            </div>
        </td>
        </tr>
    </table>
    <%= f.submit "変更を保存する",class:"btn btn-sm btn-primary mt-2" %>
<% end %>