<div class="col-12">
  <h2>登録済みの方はこちら</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group form-group-lg">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

   <div class="form-group form-group-lg">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

  <% if devise_mapping.rememberable? %>
   <div class="form-group form-group-lg">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="col-12">
  <%= render "devise/shared/links" %>
</div>

