<div class="row">
  <div class="main col-md-offset-5 col-md-5">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group form-group-lg">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

   <div class="form-group form-group-lg">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

  <% if devise_mapping.rememberable? %>
   <div class="form-group form-group-lg">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" , class: "btn btn-primary col-md-6" %>
  </div>
<% end %>
</div>
</div>

