<div class="col-md-3">
<!-- ジャンル検索サイドバー  -->
<%= render "search", genres: @genres %>

</div>

<div class="col-md-8 offset-md-1">
    <!-- 商品一覧を表示 -->
  <h2><%= @info %>一覧(全<%= @counts %>件)</h2>

  <div class="main clearfix">
    <% @items.each do |item| %>
      <div class = "item-box">
        <div class = "image-box">
          <%= link_to customers_item_path(item) do %>
            <%= attachment_image_tag item, :image, :fill, 60, 60, fallback: "no_image.jpg", size:'150x100' %>
          <% end %>
        </div>
        <p><%= link_to item.name, customers_item_path(item) %></p>
        <p>¥<%= addTax(item.price,1.1) %>（税込）</p>
      </div>
    <% end %>
  </div>

  <%= paginate @items, class: "paginate" %>
</div>