<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar clearfix navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav">
          <%= link_to image_tag('/assets/logo.jpg', width:"100px", height:"100px"), root_path %>
        </ul>
      </nav>
      <nav>
        <ul class="nav justify-content-end">
            <!-- 顧客ログイン時 -->
          <% if customer_signed_in? %>
            <li><%= link_to 'マイページ', customers_customer_path(current_customer.id), class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '商品一覧', customers_items_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to 'カート', customers_carts_path,  class: 'btn btn-outline-dark' %></li>

            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark' %></li>
          <!-- 管理者ログイン時 -->
          <% elsif admin_signed_in? %>
            <li><%= link_to '商品一覧', admin_items_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '会員一覧', "#", class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '注文履歴一覧', "#", class: 'btn btn-outline-dark' %></li>
            <li><%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %></li>
            <!-- ログアウト時またはログインしていない時 -->
          <% else %>
            <li><%= link_to 'about', home_about_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '商品一覧', customers_items_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-outline-dark' %></li>
            <li><%= link_to '管理者の方はこちら', new_admin_session_path, class: 'btn btn-outline-dark' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>


</html>
